{% extends 'base.html' %}

{% block title %} LogIn - FinChat {% endblock %}

{% block header_text %} LogIn - FinChat {% endblock %}

{% block auth_nav %} 
	<div id='auth-bar'>
		<a id='signup' href="{% url 'signup' %}">SignUp</a>
	</div>   
{% endblock %} 

{% block content %}
    <form action="." method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Login</button>
        <span>Are you new ? <a id='signup' href="{% url 'signup' %}">SignUp</a></span>
    </form>
{% endblock %}
