{% extends "base.html" %}
{% load staticfiles %}

{% block title %}FinChat{% endblock %}

{% block header_text %}<a class='home' href="{% url 'home' %}">FinChat</a>{% endblock %}

{% block content %}
  <h1>Choose a Room</h1>
  <div id="chats">
    <div class="room" id="room">
      <h3>Connected as: {{username}}</h3>
      <div class="messages">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
            </tr>
          </thead>
          <tbody>
            {% for room in rooms %}
              <tr>
                <td class="room-label"><a href="{% url 'chat_room' room.label %}">{{room.label}}</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <hr>
  <form method="post">
    {% csrf_token %}
    <label><h5>Room name:</h5></label>
    {{ form.label }}
    {{ form.n.help_text }}
    
    {% if form.label.errors %}
      <div class="form-error">
        {% for error in form.label.errors %}
          <span>{{ error }}</span>
        {% endfor %}
      </div>
    {% endif %}

    <p><input class="btn btn-primary" type="submit" value="Create Room"></p>
  </form>
{% endblock %}

{% block extra_body %}
  <script src="{% static 'js/jquery-1.12.1.min.js' %}" type="text/javascript"></script>
{% endblock %}
